body{
    background-image: url(test/fundo.jfif);
  text-align: center;
}
.topo{
  position: relative;

}
.imagem-fundo{
 display: block;
  width: 100%;
   
  
}

.imagem-topo{
  position: absolute;
  top: 0%;  
  left: -20%;  
 
}
.imagem-topo2{
  position: absolute;
  top: 0%;   
  left: 5%;  
 
}


.container-envelope {
  position: relative;
  width: 90%;         
  max-width: 340px;      
  margin: 0 auto;        
}

.envelope {
  width: 100%;           
  height: auto;          
  display: block;
}

.selo {
  position: absolute;  
  width: 25%;          
  height: auto;
  top: 49%;              
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 10;   
}

.galho{
  position: absolute;
  transform: rotate(50deg);
  top: 38%;
  left: -10%;
  
}

.galho2{
  position: absolute;
  transform: rotate(250deg);
  top: 35%;
  left: 80%;
  
}
.fim{
  position: absolute;
  top: 50%;
  left: 0%;
}

