body {
  background-image: url("imagens/envelos34.jpg");
  background-size: cover;        /* preenche toda a tela */
  background-repeat: no-repeat;
  background-position: center;
  background-position: center -100px; 
}

.container {
  height: 130vh;
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
  
}
