body {
    min-height: 100vh;
    background-image: url("image4/fundo4.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.voltar {
    position: absolute;
    top: 55%;
    left: 10%;
    transform: translate(-50%, 500%);
 }