body {
    background-image: url(imagens/cmp.png) ;
    background-size: contain;
    background-repeat: no-repeat;
   
  margin: 0;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
}

.envelope {
    
 
}

.selo1 {
   position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  cursor: pointer;
}