body {
    min-height: 100vh;
    margin: 0;
    background-image: url("image2/19_redimensionada_1080x1920.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 480px) {
    body {
        background-position: center center;
    }
}
/* grupo dos botões */
.opcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -25%);

    width: 90%;
}


/* cada item */
.bussula,
.confirmacao,
.roupas,
.presentes {
    text-align: center;
}


/* imagens */
.opcoes img {
    width: 60px;
    max-width: 100%;
}


/* textos */
.opcoes h3 {
    color: gold;
    font-size: 10px;
    font-family: 'Georgia', serif;
    margin-top: 5px;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 1px;
}


/* botão voltar */
.voltar {
    position: fixed;
    bottom: 30px;
    left: 30px;
}


.voltar img {
    width: 40px;
}


/* celulares pequenos */
@media (max-width: 480px) {

    .opcoes {
        gap: 15px;
    }

    .opcoes img {
        width: 50px;
    }

    .opcoes h3 {
        font-size: 9px;
    }

}