body {
    min-height: 100vh;
    margin: 0;
    background-image: url("image4/presentes_redimensionado_1080x1920.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@media (max-width: 480px) {
    body {
        background-position: center center;
    }
}

/* botão voltar */
.voltar {
    position: fixed;
    bottom: 30px;
    left: 30px;
}


.voltar img {
    width: 40px;
    height: auto;
}


/* celulares menores */
@media (max-width: 480px) {

    .voltar {
        bottom: 20px;
        left: 20px;
    }

    .voltar img {
        width: 35px;
    }

}